@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Fribergs biluthyrning</h1>
    <div>
        <p> Vi har samlat bilar som vi själva gärna kör för olika situationer i livet. </p>

    </div>
    <img src="~/uploads/CarRental.png" alt="Company logo of Car with flames" style="max-widht: 300px;"/>
</div>
